<!DOCTYPE html>
<html>
  <head>
    <title>Ask_Kir</title>
    <link rel="shortcut icon" type="image/x-icon" href="/media/mind.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="http://code.jquery.com/jquery.js"></script>
    <script scr="http://ask-kir.ru/bootstrap/js/bootstrap.js"></script>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/mystyle.css"/>
 </head>
  <body>
       <div class="container">
	   <div class="navbar navbar-inverse">
	     <div class="navbar-inner">
     	       <div class="container">
                 <a class="brand" href="http://ask-kir.ru"><img class="img-rounded" src="/media/mind.png" style="width:22px; height:22px; background-color:white;"/><strong style="margin-left:15px;">Ask-Kir</strong></a>
    		 <ul class="nav">
      		 <li class="divider-vertical"></li>
		 <a class="btn btn-success" style="margin-left: 270px;" href="/ask">ASK!</a>
      		 </ul>
  		  <form class="navbar-search pull-right">
  		    <input type="text" class="search-query" placeholder="Search">
		    <a class="btn-login btn-link"  href="/login"><i class="icon-user icon-white"></i>Log In</a>
		    <a class="btn-register btn-link"  href="/register">Register</a>
		  </form>
               </div>
  	     </div>
	  </div>
	    <div class="row">
              <div class="span9" id="maincol" >
		{% block main%}
		{% endblock %}
              </div>
              <div class="span3" id="rightcol">
		  <br><br><br>
		  <h3> Popular tags </h3>
                  <ul>
		     <li>Perl</li>
		     <li>HTML</li>
		     <li>Oldschool</li>
		   </ul>
		  <hr>
		  <h3> Popular authors </h3>
		  <ul>
                     <li>Perl</li>
                     <li>HTML</li>
                     <li>Oldschool</li>
		  </ul>	
	      </div>
           </div>
	</div>   
  </body>
</html>
