{% extends 'base.html' %}
{% block main  %}
	<script type="text/javascript" src="/bootstrap/js/bootstrap-dropdown.js"></script>  
	   <div class="span6"><h1>Main page</h1></div>
	   <div class="btn-group " style="float: right; margin-right: 78px; margin-top: 15px;">
  	     <button class="btn dropdown-toggle" data-toggle="dropdown">
	       Sort by
    	       <span class="caret"></span>
  	     </button>
  	     <ul class="dropdown-menu">
	       <li><a href="/?sort=1">Popular</a></li>
	       <li><a href="/?sort=2">New</a></li>
  	     </ul>
	   </div>
                {% for question in questions %}
                   <div class="question">
                     <div class="question__left">
			<a class="rateup" href="#"><i class="icon-chevron-up"></i></a>	
                        <img src="/media/std_avatar_90-90.jpg" class="img-rounded">
			<a class="ratedown1" href="#"><i class="icon-chevron-down"></i></a>
			<span class="rating"><b>Rating: </b>{{ question.rating }}</span>
                     </div>
                     <div class="question__right">
                       <h4><a class="question__title" href="{% url "question" question.id %}">{{ question }}</a></h4>
                       <p class="question__text">{{ question.text }}</p>
                       <a class="question__comment" href="{% url "question" question.id %}">Comments ({{ question.answer_set.count  }})</a> 
		       <span class="question__tags-title"><b>Tags:</b></span>
			{% for tags in question.tags_set.all %}
			<a class="question__tags btn btn-primary btn-small disabled" href="{% url "tags" %}?tag={{ tags  }}">{{ tags }}</a>
			{% endfor %}
			<span class="question__date"><b>Date: </b>{{ question.created|date:"d.m.Y" }}</span>
                     </div>
                   </div>
                {% endfor %}
                <br style="clear: both"/>
                <div class="pagination" id="pager">
                  <ul>
                    <li><a href="#">Prev</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">Next</a></li>
                  </ul>
                </div>

	<form method="post" action="{% url "add"  %}">
         {% csrf_token  %}
          <input type="text" name="text">
          <input type="submit">
        </form>

{% endblock  %}

