{% extends 'base.html' %}
{% block main  %}
<h1>Log In</h1><br>
<script src="http://code.jquery.com/jquery.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>

<form method="post" class="form-horizontal" action="/login/">
  {% csrf_token  %}
  <div class="control-group">
    <label class="control-label" for="username">Username</label>
    <div class="controls">
      <input type="text" id="username"name="username" placeholder="Username">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="password">Password</label>
    <div class="controls">
      <input type="password" id="password" name="password" placeholder="Password">
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <label class="checkbox">
        <input type="checkbox"> Remember me
      </label>
      <button type="submit" class="btn btn-primary">Log In</button><br><br>
	<div><a class="brand" href="/register">create new account</a></div>
     </div>
   </div>
</form>


{% endblock  %}
